# Bash aliases

alias inetuse='lsof -P -i -n | cut -f 1 -d " " | uniq'
alias changeMAC='SystemStarter start MACADD'
alias opentxt='open -a TextEdit'
alias hosts='sudo nano /etc/hosts'
alias curl-g='curl --user-agent "Googlebot/2.1 (+http://www.google.com/bot.html)"'

#  Turn on colors with 'ls' command by default
export LS_OPTIONS='-FG'
alias ls="ls $LS_OPTIONS"
alias ll='ls -la'
alias l='ls'

# Set ping to default to 5 pings
alias ping='ping -c 5'

# Use hub in place of git
if type "hub" > /dev/null 2>&1; then
  eval "$(hub alias -s)"
fi

# Spinup WP shorter command
alias sp='spinupwp'
