/* Hide Twitter promotoed items */
li.stream-item > div[data-promoted=true] {
	display: none !important;
}

/* Sites with annoying Facebook messenger pop-up */
.fb_dialog,
.fb_customer_chat_bounce_in_v2,
.js-consent-banner {
	display: none !important;
}

/* Hide Obnoxious cookie warnings */
#onetrust-banner-sdk,
#CybotCookiebotDialog {
	display: none !important;
}

/* No Wikipedia $$ begging */
div.frb,
.cn-fundraising,
#frb-inline,
#frb-nag {
	display: none !important;
}
